@charset "utf-8";
/* laout  */
*{margin:0; padding:0;}
#wrap{
    maring:0 auto;
    overflow:hidden;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-align: center;
}
.container{
    width:1440px;
    padding:0 25px;
    margin:0 auto;
    overflow:hidden;
    background: rgba(31, 29, 29, 0.3);
}
/* page */
/* header */
#header{
    width: 100%;
    height: 200px;
    background: rgb(101, 89, 209);
}
/* contents */
#contents{
    width:100%;
    height:600px;
}
/* #contents .container{
    float:left;
} */
.c_left{
    width:33.3333%;
    height:600px;
    float:left;
    background: rgb(223, 209, 89);
    line-height: 600px;
}
.c_center{
    width:33.3333%;
    height: 600px;
    float:left;
    background: rgb(140, 173, 77);
    line-height: 600px; 
}
.c_right{
    width:33.3333%;
    height:600px;
    float:left;
    background: rgb(61, 184, 37);
    line-height: 600px;
}

/* story */
.story_inner{padding:80px;}

.story_inner .cotainer{
    display: flex;
}
.story_inner .cotainer div{
    width:50%;
    height:150px;
    
}
.story_inner .cotainer div:nth-child(1){margin-bottom:15px;}
.story_inner .cotainer div:nth-child(1){margin-bottom:15px;}
.story_inner .cotainer div:nth-child(1){margin-right:15px;}
.story_inner .cotainer div:nth-child(3){margin-right:15px;}
