@charset "utf-8";
body{
    text-align: center;
    font-size:40px;
    color:#fff;
    text-transform: uppercase;
/*text-transform - 글자의 대,소문자 */
}
/*글자 중간으로 가게 하려면 각각 line_height를 주어야 한다 */
#wrap{
    width:1000px;
    height:900px;
    margin:0 auto;
}
header{
    width:1000px;
    height:150px;
    background:rgba(0, 1, 51, 0.397);
    line-height: 150px;
}
nav{
    width:1000px;
    height:150px;
    background:#4829;
    line-height: 150px;
}
aside{
    float:left;
    width:250px;
    height:550px;
    background:blue;
    line-height: 550px;
}
content{
    float:left;
    width:500px;
    height:550px;
    background:#8594;
    line-height: 550px;
}
article{
    float:left;
    width:250px;
    height:550px;
    background:#59921d;
    line-height: 550px;
}
footer{
    clear: both;
    width:1000px;
    height:150px;
    background:#953895;
    line-height: 150px;
}