@charset "utf-8";
*{margin:0; padding:0;}
body{font-size:30px; color:#fff; text-align: center; }
#wrap{
    margin:0 auto;
}
/*
width 100%는 기본 값 
자식에게 height 값이 있으면 부모에 height값은 없어도 된다
*/
#header_wrap{
    width:100%;
    background-color: #8d6e63;
    height:100px;
    line-height: 100px;
}
#banner_wrap{
    width:100%;
    background-color: #a1887f;
    height:300px;
    line-height: 300px;
}
#content_wrap{
    width:100%;
    background-color: #bcaaa4;
    height:500px;
    line-height: 500px;
}
#footer_wrap{
    width:100%;
    background-color: #d7ccc8; 
    height:100px;
    line-height: 100px;
}

/*container*/
.header_container{
    width:1000px;
    height:100px;
    background-color: #3e2723;
    margin:0 auto;
}
.banner_container{
    width:1000px;
    height:300px;
    background-color: #4e342e;
    margin:0 auto;
}
.content_container{
    width:1000px;
    height:500px;
    background-color: #5d4037;
    margin:0 auto;
}
.footer_container{
    width:1000px;
    height:100px;
    background-color: #6d4c41;
    margin:0 auto;
}